@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-top: 20px;
}

p {
  margin-bottom: 16px;
}

.container {
  min-height: 100vh;
  padding: 6px 5% 60px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-about {
  font-size: 2.8rem;
  font-weight: 700;
  background: linear-gradient(90deg, #007bff, #0056b3); /* Blue gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}
.title-about::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background: #007bff; /* Bright blue */
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Subtle blue glow */
}

.title-ourTeam {
  font-size: 1.3rem;
  font-weight: 600;
  background: linear-gradient(90deg, #064e9b, #012852); /* Blue gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}
.title-ourTeam::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background: #01356d; /* Bright blue */
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(3, 81, 165, 0.5); /* Subtle blue glow */
}

.title-ourProject {
  font-size: 1.3rem;
  font-weight: 600;
  background: linear-gradient(90deg, #064e9b, #012852); /* Blue gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}
.title-ourProject::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background: #01356d; /* Dark blue */
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(3, 81, 165, 0.5); /* Subtle blue glow */
}

.textTeam {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: fit-content;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.textTeam:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.textProjekt {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: fit-content;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 40px;
}
.textProjekt:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}
.profile {
  width: 200px;
  border-radius: 50%;
  padding: 6px;
}
.description {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: fit-content;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
}
.description:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}
.pepole {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}
