.WebsiteTitle {
    text-align: center;
}

.UnserTeam {
    margin-left: 500px;
}
.UnserProjekt {
    margin-left:1250px;
    margin-top: -40px;
}
.TextTeam {
    margin-top: ;
    margin-left: ;
}
.TextProjekt {
    margin-top: ;
    margin-left: ;
}