.filterpage-container {
  padding: 6px 5% 60px;
}

#query {
  margin-left: 5px;
}

.category-button-selected {
  background-color: green;
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.category-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.submit-button {
  background-color: grey;
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 5px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.loadMore {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.loadMore:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.loadMore:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(38, 115, 255, 0.5);
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  background: linear-gradient(90deg, #007bff, #0056b3);
  /* Blue gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background: #007bff;
  /* Bright blue */
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  /* Subtle blue glow */
}