ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

li.Home a {
    color: blue;
    font-weight: bold;
    text-decoration: none;

}

li.Suche-Filter a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

li.AboutUs a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

li.Kontakt a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

li.Anmelden a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

li a:hover {
    background-color: #007BFF;
    color: white;
    text-decoration: none;
}

li a:active {
    background-color: #0056b3;
}

li a.active {
    background-color: #007BFF;
    color: white;
}