ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 15px;
}

li.Home a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
    
}
li.Suche-Filter a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

li.AboutUs a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

li.Kontakt a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

li.Anmelden a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}